.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
  }
  
  .NavLink {
    padding: 5px;
    font-size: smaller;
  }

  .NavLink i {
    font-size: 1.5em;
  }
  
  .Active i {
    color: #2142b2;
  }